langchain
langgraph
langchain-core
langchain_community
python-dotenv
langchain-openai
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
youtube-transcript-api 
tiktoken
langchain_huggingface
unstructured[pdf]
